$red: #741600;
$black: #2e0800;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}
  

html {
    height: 100%;
}

body {
    height: 100%;
    color: #fff;
    line-height: 17px;
    background: url('/images/bg1.jpg') no-repeat;
    background-size: cover;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0

}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 920px;
    margin: 0 auto;
}

.lang {
    display: flex;
    flex-direction: row-reverse;
    padding: 8px 0;

    > a {
    display: flex;
    align-items: center;
    margin-left: 40px;

        span {
            margin-left: 5px;
        }
    }
}

nav {
    background-color: $red;
    height: 60px;
    position: relative;

    ul {
        height: 100%;
        display: flex;

        li {
            height: 100%;
            width: 210px;
            position: relative;
            text-align: center;
            line-height: 60px;
            transition: background-color .5s;

            &::before {
                display: block;
                height: 100%;
                content: '';
                border-left: 1px solid #601200;
                border-right: 1px solid #871a00;
                position: absolute;
                top: 0;
                left: 0;
            }

            a {
                display: block;
                height: 100%;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 19px;
            }

            &:last-child {
                &::after {
                    display: block;
                    height: 100%;
                    content: '';
                    border-left: 1px solid #601200;
                    border-right: 1px solid #871a00;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            &:nth-child(3) {
                margin-left: 80px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

        }
    }
}

.logo {
    width: 80px;
    height: 120px;
    border-radius: 5px;
    background-color: #424242;
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -40px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 105px 0;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 530px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 40px;
}

.contacts {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
}

h1 {
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid rgba( 255,255,255, .12);
    padding-bottom: 5px;
    margin-bottom: 12px;
}

.form-input {
    label {
        display: block;
        margin-bottom: 5px;
    }

    input, textarea {
        display: block;
        width: 100%;
        background-color: #ececec;
        color: $black;
        padding: 10px;
        margin-bottom: 12px;
        font-size: 13px;
    }

    textarea {
        height: 94px;
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        resize: none;
    }
    
}

.form-check {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    a {
        color: #5bc7e6;
    }

    span {
        margin-left: 5px;
    }
}

button {
    width: 130px;
    height: 34px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 34px;
    color: $black;
    cursor: pointer;
}
